<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
       <link rel="stylesheet" href="./css/styles.css">
       <script src="/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This sight was created by Sandhya</p>
        <img class="portrait" src="/img/1649440230865.jpg" alt="pic">
        <p>Created by {{name}}</p>
        </div>
        
        <p style="float: bottom;">{{>footer}}</p>
    </body>
</html>